<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Accessing pod0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{46,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{46,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Accessing pod0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{46,87}</string>
                <key>textureRect</key>
                <string>{{46,0},{46,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Accessing pod0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{46,87}</string>
                <key>textureRect</key>
                <string>{{92,0},{46,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{56,455},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{268,455},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{0,563},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{212,563},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{0,671},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{212,671},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{0,779},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{212,779},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{0,887},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{212,887},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{0,995},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death by bullet0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{212,108}</string>
                <key>textureRect</key>
                <string>{{212,995},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{198,88},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{242,88},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{286,88},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{330,88},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{374,88},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{418,88},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{0,179},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death through laser0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{44,179},{44,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{138,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{168,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{198,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{228,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{258,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{288,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{318,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{348,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{378,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{408,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{438,0},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero idle0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,88}</string>
                <key>textureRect</key>
                <string>{{0,88},{30,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero starting walk0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,88}</string>
                <key>spriteSourceSize</key>
                <string>{42,88}</string>
                <key>textureRect</key>
                <string>{{30,88},{42,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero starting walk0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,88}</string>
                <key>spriteSourceSize</key>
                <string>{42,88}</string>
                <key>textureRect</key>
                <string>{{72,88},{42,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero starting walk0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,88}</string>
                <key>spriteSourceSize</key>
                <string>{42,88}</string>
                <key>textureRect</key>
                <string>{{114,88},{42,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero starting walk0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,88}</string>
                <key>spriteSourceSize</key>
                <string>{42,88}</string>
                <key>textureRect</key>
                <string>{{156,88},{42,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{88,179},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{144,179},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{200,179},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{256,179},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{312,179},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{368,179},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{424,179},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{0,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{56,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{112,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{168,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{224,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{280,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{336,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{392,271},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{0,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{56,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{112,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{168,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{224,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{280,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{336,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{392,363},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero walk0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{56,92}</string>
                <key>textureRect</key>
                <string>{{0,455},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{480,1103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bc33e645da525ae7010d6c5539d1be:3292a4454e6f9cd5314b46a5c1798651:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
